.startValue {
    color: red;
}

.counter_form {
    text-align: center;
    width: 300px;
    margin: 0 auto;
    border: 5px solid #000000;
    background-color: #6800ed7a;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}

.counter_buttons {
    align-items: center;
    display: flex;
    justify-content: space-around;
    height: 65px;
    background-color: #219421;
    color: #c0ae46;
    border: 3px solid black;
    border-radius: 10px;
}